/*External Sources: Photopea, Canva */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px green;
    text-align: center;
}
.wrapper {
    border: 5px solid black;
    top: 50%;
    left: 50%;
    position:absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background: url(BackgroundWater.jpg);
    
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: gray;
}